* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: thistle;
    font-family: 'Times New Roman', Times, serif;
}

header {
    padding: 30px 45px;
    background-color: purple;
}

header h1 {
    color: seashell;
    margin: 0;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    text-align: center;
    color: seashell;
}

section {
    padding: 50px 100px;
    background-color: purple;
}




